crypto ikev2 proposal PROP1
  encryption aes-cbc-256
  integrity sha256
  group 19
crypto ikev2 policy POL1
  proposal PROP1
  match fvrf ISP
crypto ikev2 keyring KEYRING1
  peer {{ ike_peer_name }}
    address {{ ike_peer_address }}
    pre-shared-key cisco123
crypto ikev2 profile IKEPROF1
  match fvrf ISP
  match identity remote address {{ ike_peer_address }}
  authentication remote pre-share
  authentication local pre-share
  keyring local KEYRING1
crypto ipsec transform-set TR1 ah-sha-hmac
crypto ipsec profile IPSECPROF1
  set transform-set TR1
  set ikev2-profile IKEPROF1

int tunnel0
  tunnel vrf ISP
  tunnel source {{ tunnel_src }}
  tunnel destination {{ tunnel_dst }}
  vrf forwarding CUST1
  ip address {{ tunnel_ip }}
  ip mtu 1400
  ip tcp adjust-mss 1360
  tunnel protection ipsec profile IPSECPROF1
  tunnel mode ipsec ipv4

ip route vrf CUST1 0.0.0.0 0.0.0.0 tunnel0